Origin: XBian
Package: xbian-package-cec
Version: 1.1-4.2
Section: utils
Priority: optional
Architecture: armhf
Depends: udev (>=175-7.1), liblockdev1 (>=1.0.3-1.5), makedev
Replaces: xbian-update (<< 1.0-1)
Breaks: xbian-package-xbmc (<< 2.3)
Provides: libcec1
Conflicts: libcec1
Maintainer: Koenkk <development@xbian.org>
Description: libcec 2.1.4 for XBian.
